.vscode
config.ini
*.pyc
.DS_Store
__pycache__
instance/*
output*.json
*.gz
.envrc
out/
/storage/
scan.json
app/settings.toml
cache/
tea/
data/
t.py
nohup.out
.idea/
*.jpeg
results.md
data
*_results.dat
.eggs
build
dist
*.flac
node_modules
*.dmg
yanko.db
*.wav
*.db-shm
*.db-wal
appdata